.card {
    position: relative;
    width: 380px;
    height: 368px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card_img {
    max-width: 300px;
    border-radius: inherit;
}