.card {
    position: relative;
    width: 380px;
    height: 368px;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card_img {
    max-width: 300px;
    border-radius: inherit;
}

.card_wrapper:hover .card::before {
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
}