.card {
    position: relative;
    width: 380px;
    min-height: 368px;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card_img {
    max-width: 300px;
    border-radius: inherit;
}

.card_wrapper:hover .card::before {
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    top: -2px;
    left: -2px;
}

/* mobile */

@media (max-width: 480px) {
    .card {
        width: 350px;
    }

    .card_img {
        max-width: 260px;
    }
}

@media (max-width: 455px) {
    .card {
        width: 320px;
    }

    .card_img {
        max-width: 240px;
    }
}

@media (max-width: 420px) {
    .card {
        width: 300px;
    }

    .card_img {
        max-width: 230px;
    }
}

@media (max-width: 400px) {
    .card {
        min-height: 250px;
        width: 260px;
    }

    .card_img {
        max-width: 220px;
    }
}

@media (max-width: 360px) {
    .card {
        width: 220px;
    }

    .card_img {
        max-width: 180px;
    }
}