.panel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.panel .panel_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel_column:nth-child(2) {
    transform: translateY(140px);
}

.panel_column:nth-child(3) {
    transform: translateY(280px);
}

.panel .panel_column .card {
    min-height: 368px;
    box-sizing: border-box;
    padding: 40px;
}

.panel .panel_column .panel_card .h3 {
    margin: 0;
    font-size: 26px;
}

.panel .panel_column .panel_card .p {
    margin-top: 20px;
    margin-bottom: 0;
    max-width: 300px;
    text-align: center;
}

.panel .panel_column .panel_card .card_img {
    margin-top: 20px;
}

/* Borders for cards */

.card_wrapper:nth-child(odd) .panel_card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    width: 50%;
    z-index: -2;
    background-image: linear-gradient(to bottom, #ECB2AD 20%, #9A5DB8 80%);
    border-radius: inherit;
}

.card_wrapper:nth-child(even) .panel_card::before {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    height: 100%;
    width: 50%;
    z-index: -2;
    background-image: linear-gradient(to bottom, #ECB2AD 20%, #9A5DB8 80%);
    border-radius: inherit;
}

/* Empty cards created with pseudo elements */

.panel_column:first-child .panel_card:last-child::after {
    content: '';
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-color: inherit;
    background: linear-gradient(to bottom, #262626, var(--bg-color) 70%);
    border-radius: inherit;
    pointer-events: none;
}

.panel_column:nth-child(2) .panel_card:last-child::after {
    content: '';
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background: linear-gradient(to bottom, #262626, var(--bg-color) 70%);
    border-radius: inherit;
    pointer-events: none;
}

.panel_column:nth-child(2) .panel_card:first-child::after {
    content: '';
    position: absolute;
    top: calc(-100% - 20px);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -12;
    background: linear-gradient(to top, #262626, var(--bg-color) 70%);
    border-radius: inherit;
    pointer-events: none;
}

.panel_column:last-child .panel_card:first-child::after {
    content: '';
    position: absolute;
    top: calc(-100% - 20px);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -12;
    background: linear-gradient(to top, #262626, var(--bg-color) 70%);
    border-radius: inherit;
    pointer-events: none;
}