.footer {
    margin-top: 274px;
    height: 90px;
    padding: 0 40px 60px 40px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .copyright .copyright_title {
    font-size: 26px;
    color: var(--icon-alt-color);
    font-weight: 700;
}

.footer .copyright .copyright_text {
    margin-top: 20px;
    color: #AFAFAF;
    font-size: 14px;
}

.footer .links {
    margin-top: 5px;
}

.footer .links .link .link_descr {
    margin-top: 20px;
}

.footer .links .link .link_descr, 
.footer .links .policies .link_btn {
    font-weight: 500;
}

.footer .links .policies {
    margin-top: 15px;
    display: flex;
    gap: 40px;
}

.footer .socials {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* mobile */

@media (max-width: 725px) {

    .footer .copyright .copyright_title {
        font-size: 24px;
    }

    .footer .links .link .link_descr {
        margin-left: -5px;
        font-size: 14px;
    }

    .footer .links {
        margin-top: 13px;
    }

    .footer .links .policies {
        gap: 20px;
    }

    .footer .links .policies .link_btn {
        font-size: 14px;
    }

    .footer .socials {
        margin-top: 15px;
    }

    .footer .socials .link_icon {
        width: 36px;
    }
}

@media (max-width: 575px) {
    .footer {
        margin-top: 50px;
    }

    .footer .container {
        flex-wrap: wrap;
    }

    .footer .copyright .copyright_text {
        margin-top: 25px;
    }

    .footer .socials {
        margin: 0 auto;
        margin-top: 20px;
        justify-content: center;
    }
}

@media (max-width: 530px) {
    .footer .links .policies {
        gap: 10px;
    }
}

@media (max-width: 450px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
    }
}