header {
    position: sticky;
    top: 0;
    z-index: 10;
    transition: background-color 0.5s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.right_half {
    display: flex;
    align-items: center;
    gap: 80px;
}

.link_btns {
    display: flex;
    gap: 40px;
}

header.with_bg {
    background-color: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.with_bg.dark {
    background-color: var(--bg-color);
}

/* mobile */

.ham_btn {
    display: none;
}

@media (max-width: 840px) {
    .link_btns, .header .btn {
        display: none;
    }

    .ham_btn {
        display: block;
    }
}