@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Kufam', sans-serif;
  --bg-color: #141414;
  --text-color: #FFFFFF;
  --text-alt-color: #E1E1E1;
  --text-hover-color: #FEBB5B;
  --text-sub-color: #F4B7FF;
  --btn-color: #9A5DB8;
  --btn-color-focus: #B87BD6;
  --btn-color-click: #7C3F9A;
  --btn-alt-color: #FEBB5B;
  --btn-alt-color-focus: #FFD979;
  --btn-alt-color-click: #E09D3D;
  --icon-alt-color: #ECB2AD;
  --card-header-color: #CC99B2;
  --card-bg-color: #262626;
  --card-translucent: rgba(115, 115, 115, 0.1);
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.h2 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

.purple_text {
  color: var(--btn-color);
}

.orange_text {
  color: var(--btn-alt-color);
}

.p {
  font-size: 18px;
}

.main_text {
  display: block;
  margin: 0 auto;
  max-width: 780px;
}

/* mobile */

@media (max-width: 800px) {
  .main_text {
    max-width: calc(100% - 80px);
  }

  .h2 {
    font-size: 36px;
  }
}