.li {
    list-style-type: none;
    width: 400px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 25px;
}

.li.positive {
    background-color: rgba(115, 115, 115, 0.1);
    backdrop-filter: blur(10px);
}

.li p {
    box-sizing: border-box;
    padding-top: 2px;
}

.li img {
    margin-top: -1px;
}