.question {
    max-height: fit-content;
    max-width: 780px;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--card-bg-color);
    border-radius: 20px;
    position: relative;
}

.question::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    height: 50%;
    width: 50%;
    z-index: -2;
    background-image: linear-gradient(to bottom, #ECB2AD 20%, #9A5DB8 80%);
    border-radius: inherit;
}

.question:hover::before {
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    top: -2px;
    left: -2px;
}

.question:hover .top_text {
    color: var(--btn-alt-color);
}

.question:hover .bottom_text {
    color: var(--card-header-color);
}

.question:hover .arrow_icon {
    filter: brightness(0) saturate(100%) invert(78%) sepia(12%) saturate(1901%) hue-rotate(345deg) brightness(100%) contrast(100%);
}

.top {
    display: flex;
    box-sizing: border-box;
    padding-top: 3px;
    min-height: 50px;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.top_text {
    box-sizing: border-box;
    padding-left: 20px;
    width: 720px;
    font-weight: 700;
}

.arrow_icon {
    width: 18px;
    transition: transform 0.3s  ease-out;
}

.bottom {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    vertical-align: top;
}

.bottom_text {
    box-sizing: border-box;
    padding: 0 20px 8px 20px;
    color: var(--text-alt-color);
}

.question.expanded .bottom {
    max-height: 50px;
}

.question.expanded .arrow_icon {
    transform: rotate(180deg);
}

/* media */

@media (max-width: 1180px) {
    .question {
        max-width: 600px;
    }
}

@media (max-width: 630px) {
    .question {
        max-width: 540px;
        padding: 5px 20px;
    }
}

@media (max-width: 575px) {
    .question {
        margin: 0 auto;
        max-width: calc(100% - 20px);
        padding: 10px 20px;
    }
}