.slider {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 140px;
    max-width: 100%;
    white-space: nowrap;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    width: 150px;
    z-index: 2;
    background: linear-gradient(to right, var(--bg-color), transparent)
}

.slider::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 140px;
    width: 150px;
    z-index: 2;
    background: linear-gradient(to right, transparent, var(--bg-color))
}

.slider .slider_elements {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 120px;
    width: 300%;
    height: 100%;
}

.left {
    animation: slideshowLeft 40s linear infinite;
}

.right {
    animation: slideshowRight 40s linear infinite;
}

.slider .slider_elements .icon {
    position: relative;
    min-width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--btn-color);
}

.slider .slider_elements .icon .icon_title {
    position: absolute;
    top: -30px;
    visibility: hidden;
}

.slider .slider_elements .icon:hover .icon_title {
    visibility: visible;
}

.slider .slider_elements .icon:last-child {
    margin-right: 120px;
}

.slider .slider_elements .icon img {
    height: 50px;
}

.slider .slider_elements .icon.alt_color {
    background-color: var(--icon-alt-color);
}

.slider .slider_elements .icon:hover {
    background-color: var(--btn-alt-color);
}

.slider:hover .left, .slider:hover .right {
    animation-play-state: paused;
}

@keyframes slideshowLeft {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideshowRight {
    from {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}