.subscribe {
    margin-top: 160px;
}

.subscribe .content {
    max-width: 100%;
    min-height: 563px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 60px;
}

.content::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../assets/squirrel.jpg') no-repeat center / cover;
    border-radius: inherit;
    filter: blur(60px) brightness(0.9) contrast(0.85);
    z-index: -2;
}

.subscribe .content .h2 {
    margin: 0;
}

.subscribe .content .p {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    color: var(--text-sub-color);
}

.subscribe .content .form_wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subscribe .content .form_wrapper .img {
    max-width: 520px;
    max-height: 243px;
    border-radius: 20px;
}

.subscribe .content .form_wrapper .form {
    display: flex;
    flex-direction: column;
}

.subscribe .content .form_wrapper .form .input:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 0;
}

.subscribe .content .form_wrapper .form .checkbox_wrapper {
    margin-top: 15px;
}

.subscribe .content .form_wrapper .form .checkbox_wrapper p {
    margin: 0;
    margin-top: 2px;
    font-size: 18px;
    color: var(--text-sub-color);
}

.subscribe .content .form_wrapper .form .checkbox_wrapper p a {
    text-decoration: none;
    color: var(--icon-alt-color);
}

.subscribe .content .form_wrapper .form .btn {
    margin-top: 15px;
    width: 520px;
}

/* mobile */

@media (max-width: 1200px) {
    .subscribe .content {
        display: block;
        margin: 0 auto;
        max-width: calc(100% - 80px);
    }

    .subscribe .content .form_wrapper .form .input {
        max-width: 460px;
    }

    .subscribe .content .form_wrapper .form .btn {
        max-width: 460px;
    }
}

@media (max-width: 1010px) {
    .subscribe .content .form_wrapper .img {
        max-width: 380px;
    }
}

@media (max-width: 940px) {
    .subscribe .content .form_wrapper .img {
        display: none;
    }
}

@media (max-width: 575px) {
    .subscribe .content .form_wrapper .form {
        max-width: 360px;
    }

    .subscribe .content .form_wrapper .form .btn {
        max-width: 360px;
    }
}

@media (max-width: 480px) {
    .subscribe .content .form_wrapper .form {
        max-width: 320px;
    }

    .subscribe .content .form_wrapper .form .btn {
        max-width: 320px;
    }
}

@media (max-width: 460px) {
    .subscribe .content .h2 {
        font-size: 24px;
    }
}